/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.navbar {
    background-color: black;
    
}

a.navbar{
    margin:0px 0px 0px 32px;
}


.banner{
    background-image: url('images/background_image.png');
    height: 788px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    z-index: 1;
}
.footer{
    background-image: url('images/bg_footer.png');
    height: 576px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    z-index: 1;
}

div.about{
    height: 788px;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('images/background_about.gif'),linear-gradient(rgb(219, 166, 166), rgb(0, 0, 172));
}


div.konten{
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

div.konten p{
    color: #ffffff;
}
.btn{
    color: #ffffff;
}

div.bg-hitam{
    background-color: black; 
}

.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 3px 0 0 3px;
}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}

.btn1 {
	margin-bottom: 10px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
}

li{
    list-style: none;
    display: inline-block;
    gap: 64px;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
} 


/*
*
* ==========================================
* PORTO
* ==========================================
*
*/


/* @media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
} */

/* medium and up screens */
/* @media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
} */
css-main.css
3 KB